em {
    font-size: 30px;
}

#first-italics {
    font-weight: bold;
}

em .red-italics {
    color: yellow;
}

span {
    /* CSS selectors with no period or octothorpe are targeting html elements */
    color: red;
}

.custom {
    /* CSS selector beginning with a period target classes */
    color: green;
}